<div id="wb_users-index">
  <div class="span3"></div>
  <div class="span9">
    <p>Add your competitor's url here:</p>
    <form id="new-wb_user" name="wb_user" class="form-inline">
      <input type="textfield" name="account_url" id="account_url" value="<%= account_url %>" >
      <input type="submit" class="btn btn-primary" value="Add" />
    </form>
  </div>
</div>